$golden-number: 1.61803398875;

$minimum-viewport-width: 48rem;
$maximum-viewport-width: 160rem;

@function remove-unit($value)
{
    @return $value / (0.0 * $value + 1.0);
}

@function raise($base, $exponent)
{
    $result: 1.0;

    @for $i from 1 through $exponent {
      $result: $result * $base;
    }

    @return $result;
}

@function generate-interpolator($minimum-value, $maximum-value)
{
    @if unit($minimum-viewport-width) != unit($maximum-viewport-width) {
        @error "Specified viewport widths must have the same unit.";
    } @else if unit($minimum-value) != unit($maximum-value) {
        @error "Specified values must have the same unit.";
    }

    $a: remove-unit($maximum-value - $minimum-value);
    $b: remove-unit($maximum-viewport-width - $minimum-viewport-width);

    @return calc(#{$minimum-value} + #{$a} * (100vw - #{$minimum-viewport-width}) / #{$b});
}

@mixin responsive-interpolation($property, $minimum-value, $maximum-value)
{
    & {
        #{$property}: $minimum-value;

        @media (min-width: $minimum-viewport-width) {
            #{$property}: generate-interpolator($minimum-value, $maximum-value);
        }

        @media (min-width: $maximum-viewport-width) {
            #{$property}: $maximum-value;
        }
    }
}

body {
    font-family: "Space Grotesk", sans-serif;

    line-height: 2em;

    text-rendering: optimizeLegibility;

    @include responsive-interpolation("font-size", 1rem, $golden-number * 1rem);
}

article {
    margin: 0em auto;
    padding: $golden-number * 2em $golden-number * 2em;
}

header h1.display-1 {
    font-size: raise($golden-number, 3) * 1em;
}

nav ol li {
    margin: $golden-number * 0.5em 0em;

    font-family: "Space Mono", monospace;

    list-style-type: none;
}

nav ol li::marker {
    display: none;
}

p {
    margin: $golden-number * 1em 0em;
}

img {
    display: block;

    width: 100%;

    margin: 0em auto;
    padding: 0em;
}

figure {
    margin: 0em;
    padding: 0em;
}

code {
    color: black;
    background-color: rgb(240, 240, 240);

    font-family: "Space Mono", monospace;
}

pre {
    display: block;

    margin: 0em;
    padding: $golden-number * 1em;

    background-color: black;
}

pre code {
    color: white;
    background-color: transparent;
}

blockquote {
    padding: $golden-number * 1em;

    border: thin solid black;

    font-style: italic;

    p {
        margin: 0vw;
    }
}
